.env
**__pycache__**
**.gz
Pretrain/epoch_datasets/
Pretrain/data/hf_datasets_pretrain/
Pretrain/data/hf_datasets_pretrain_train/
Pretrain/checkpoints
Pretrain/wandb
Pretrain/data
Pretrain/KiTitans-MAC-Transformer**